body {
  /* Imported font used here */
  font-family: "Roboto", sans-serif;

  /* Set of properties not yet understood */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #151b29;
}

#levitate {
  /* Removing the background makes a clear button, although this can be done with opacity as well */
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;

  /* All elements from the hover are listed individually in the transition to specify what gets transitioned */
  transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#levitate:hover {
  border-color: #f1ff5c;
  color: white;

  /* Can be used for lighting effects on elements */
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.3em);

  /* Changes the cursor into a glove hand to indicate something interactive */
  cursor: pointer;
}

/* Star Wars buttons!!! */
#light {
  background: none;
  color: #00b4d8;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#light:hover {
  border-color: #00b4d8;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #00b4d8;
  transform: translateY(-0.3em);
  cursor: pointer;
}

#dark {
  background: none;
  color: #d62828;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: border-color 0.25s, color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#dark:hover {
  border-color: #d62828;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #d62828;
  transform: translateY(-0.3em);
  cursor: pointer;
}
